/* 侧边栏头像卡片 */
#aside-content>.card-widget.card-info::before {
  background: url('https://cdn.jsdelivr.net/gh/kingkare/owo/img/hdbjt.gif');
  border: 0;
  position: absolute;
  background-size: 100% 100%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
}

/* 调整文字颜色与层级关系 */
.card-info {
  color: #fff;
  position: relative;
  z-index: 2;
}


#footer-animal {
    position: relative;
    width: 100%;
}

#footer-animal .animal-wall {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 36px;
    max-width: none;
    background: #bcb0a4 url(https://cdn.jsdelivr.net/gh/kingkare/owo/img/color.avif) repeat center;
    background-size: auto 100%;
    box-shadow: 0 4px 7px rgba(0,0,0,.15);
}

@media screen and (max-width: 1023px) {
    #footer-animal .animal-wall {
        height:4vw
    }
}

#footer-animal img.animal {
    position: relative;
    max-width: min(974px,100vw);
    margin: 0 auto;
    display: block;
}

#footer-bar {
    margin-top: 0 !important;
}
