/* 侧边栏头像卡片 */
#aside-content>.card-widget.card-info::before {
  background: url('https://cdn.jsdelivr.net/gh/kingkare/owo/img/hdbjt.gif');
  border: 0;
  position: absolute;
  background-size: 100% 100%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
}

/* 调整文字颜色与层级关系 */
.card-info {
  color: #fff;
  position: relative;
  z-index: 2;
}
