/* 侧边栏头像卡片 */
#aside-content>.card-widget.card-info::before {
  background: url('自定义');
  border: 0;
  position: absolute;
  background-size: 100% 100%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
}
